/main
/client
/homework
/Makefile
/CMakeFiles/
/cmake-build-debug/
/cmake_install.cmake
/CMakeCache.txt
.idea/
/_deps/
/bin/
/lib/
log.txt
/tests/_deps/
/tests/bin/
/tests/CMakeFiles/
/tests/lib/
/tests/cmake_install.cmake
/tests/CMakeCache.txt
/tests/Makefile
tests/test
tests/build/
build/